@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@300;400;500;700&display=swap");

:root {
  --c-base-fs: 1rem;
  --c-section-header-fs: 1.2rem;
  --c-base-fs-mobile: 0.9rem;
  --c-base-fs-desktop: 1.2rem;
}

// * {
//   cursor: none !important;
// }

$primary-color: #ffb400;
$secondary-color: #212529;
$ex-dark: #111111;
$grey: #2b2a2a;
$white: #fff;
$off-white: #f9f9f9;
$font-fam: "Ysabeau", sans-serif;
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 996px
);

/* Mixins */
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

body {
  font-family: $font-fam;
  color: var(--c-text-primary);
  font-size: var(--c-base-fs-mobile);
  overflow-x: hidden;
  position: relative;
}

.container {
  padding: 0 2.75rem !important;
}

.color-block {
  height: 200%;
  left: -83%;
  position: fixed;
  top: -50%;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  width: 100%;
  background-color: $primary-color;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h1 {
    font-size: clamp(1.2rem, 3vw, 2rem);
    line-height: 1.5;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: 700;
  }
  p {
    line-height: 1.6;
  }
}

.custom-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  font-weight: 600;
  color: #000;
  border: 1px solid #ffb703;
  border-radius: 999px;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffb703;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 999px;
  }
  &:hover {
    &::before {
      transform: scaleX(1);
    }
    .icon-box {
      background-color: white;
      color: #ffb703;
    }
  }
  .icon-box {
    position: absolute;
    right: -1px;
    top: 0;
    height: 100%;
    width: 52px;
    background-color: #ffb703;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.6rem, 2vw, 0.9rem);
    transition:
      background-color 0.5s ease-in-out,
      color 0.5s ease-in-out;
  }
}

.img-mobile {
  img {
    border: 4px solid #252525;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 auto 25px;
    object-fit: contain;
  }
}

.tab-list {
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: $ex-dark;
  width: 100%;
}

// --- Mixin for Theme Styles ---
@mixin theme-styles($background-color, $color, $off-white) {
  background-color: $background-color;
  color: $color;

  .custom-btn {
    color: $color;
  }

  // Add any other common styles here that apply to both themes
}

// --- Light Theme ---
.light-theme {
  @include theme-styles(
    $white,
    $ex-dark,
    $primary-color
  ); // Apply the common styles with specific colors for light theme

  .tab-list {
    background-color: $off-white;
  }
  .img-mobile {
    img {
      border: 4px solid $primary-color;
    }
  }
  .designation {
    color: $ex-dark;
  }
}

// --- Dark Theme ---
.dark-theme {
  @include theme-styles($ex-dark, $white, $ex-dark);

  .designation {
    color: $white;
  }
  .img-mobile {
    img {
      border: 4px solid $secondary-color;
    }
  }
  .main-section p {
    color: $off-white;
  }
}

@include respond-to("desktop") {
  body {
    font-size: var(--c-base-fs);
  }

  .homepage {
    h1 {
      line-height: 56px;
      padding-left: 70px;
    }
    h1:before {
      border-radius: 10px;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 29px;
      width: 40px;
      background-color: $primary-color;
    }
  }

  .img-desktop-bg {
    border: 4px solid #2b2a2a;
    border-radius: 18px;
    display: block;
    width: 33%;
    height: calc(100vh - 80px);
    z-index: 9;
    background: #000;
    object-fit: contain;
    position: fixed;
    left: 40px;
    top: 40px;
    img {
      object-fit: contain;
      height: 100%;
    }
  }
  .icon-box {
    width: 50px !important;
  }

  .tab-list {
    background-color: transparent !important;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    width: fit-content;
  }
  .custom-btn {
    padding: 16px 70px 16px 32px;
  }
  .round-box {
    margin: 16px 0;
  }
}

// .cursor-dot,
// .cursor-dot-outline {
//   position: absolute;
//   pointer-events: none;
//   border-radius: 50%;
//   background-color: transparent;
//   transition: all 0.1s ease-out;
//   transform: translate(
//     -50%,
//     -50%
//   );
// }

// .cursor-dot {
//   width: 8px;
//   height: 8px;
//   z-index: 9999;
//   background-color: #ffb400;
// }

// .cursor-dot-outline {
//   width: 40px;
//   height: 40px;
//   opacity: 0.5;
//   z-index: 9998;
//   border: 1px solid #ffb400;
// }

// .cursor-dot.scale-up {
//   transform: translate(-50%, -50%) scale(1.5);
// }

// .cursor-dot-outline.scale-up {
//   transform: translate(-50%, -50%) scale(2);
// }

.theme-switch {
  position: absolute;
  top: 8%;
  right: 4%;
  transform: translateY(-50%);
}

@mixin button($bg-color, $text-color: #fff) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  transition:
    background-color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  margin-bottom: 20px;
  &:hover {
    // background-color: darken($bg-color, 10%);
    background-color: $primary-color;
  }
}

// Usage
.button-warning {
  @include button($primary-color);
}

.button-secondary {
  @include button($grey);
}
